<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>309213513769-i2hpj6ro8vt5igm8v0tkt72j2pfamm58.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.309213513769-i2hpj6ro8vt5igm8v0tkt72j2pfamm58</string>
	<key>API_KEY</key>
	<string>AIzaSyAmsYQnlmW_lN81XQVEf6VxsVy7OVzvmNo</string>
	<key>GCM_SENDER_ID</key>
	<string>309213513769</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fortinjoffrey.firebaseSampleApp</string>
	<key>PROJECT_ID</key>
	<string>flutterfirebasesampleapp-604ee</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterfirebasesampleapp-604ee.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:309213513769:ios:2746f70853b23cb19c3438</string>
	<key>DATABASE_URL</key>
	<string>https://flutterfirebasesampleapp-604ee.firebaseio.com</string>
</dict>
</plist>